<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I grew up in Morgan, Utah. It is a small town on the east side of Weber Canyon. My dad used to have an ice company
          that I would help with when I was younger. My first real job was at a Polaris dealership washing the machines, 
          assembling what was needed on new machine, and helping the mechanics when needed. The summer of 2019 I got a job 
          working in a produce warehouse where I loaded trucks and moved boxes. Since I got out of highschool I have been 
          working for an excavation company. We do concrete, irrigation pipe, and many other variuos excavation jobs.</p>
      </div>
      <div class="col-lg-4">
        <p>I graduated from Morgan High School with the intention of going to Utah State University for an engineering degree.
          My first two semesters of college were at Utah State, but after that I transferred to Weber. I am currently in my 
          third semester at Weber, fifth semester overall, and am still planning on an engineering degree. I have not made 
          a full decision on what type of engineering, but am leaning toward structural.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
